﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="accounts.aspx.cs" Inherits="banktake2.WebForm3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
<h1>Accounts & Deposits</h1>
    LAGAO THEORY
    <h2>Savings Account</h2>
    NISWA CHUTIYA HAI
    <a href="savings.aspx">View Details</a>
    <h2>Salary Accounts</h2>
    shagun bhi
    <a href="salary.aspx">View Details</a>
      <h2>Current Account</h2>
    akanksha CHUTIYA HAI
    <a href="current.aspx">View Details</a>
    <h2>Deposits</h2>
    sb chutiya h
    <a href="deposit.aspx">View Details</a>
    
</asp:Content>
