﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="contactus.aspx.cs" Inherits="banktake2.WebForm8" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    
        <table style="width:100%;">
            <tr>
                <td style="height: 23px; width: 245px;">
    
        <table style="width:100%;">
            <tr>
                <td style="height: 23px; ">Contact Us</td>
            </tr>
            </table>
   
                </td>
                <td style="height: 23px; width: 245px;">&nbsp;</td>
                <td style="height: 23px; width: 179px;"></td>
                <td style="height: 23px"></td>
            </tr>
            <tr>
                <td style="width: 245px">Email ID</td>
                <td style="width: 293px">abc@gmail.com</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">Call</td>
                <td style="width: 293px">9999999999</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    <asp:DropDownList ID="DropDownList1" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged" AutoPostBack="True">
                        <asp:ListItem>select</asp:ListItem>
                        <asp:ListItem></asp:ListItem>
                        

                    </asp:DropDownList>
                </td>
                <td style="width: 245px">
                    <asp:DropDownList ID="DropDownList2" runat="server" OnSelectedIndexChanged="DropDownList2_SelectedIndexChanged" AutoPostBack="True" >
                        <asp:ListItem>select</asp:ListItem>
                        <asp:ListItem></asp:ListItem>
                      

                    </asp:DropDownList>
                </td>
                <td style="width: 179px">
                    <asp:DropDownList ID="DropDownList3" runat="server" OnSelectedIndexChanged="DropDownList3_SelectedIndexChanged" AutoPostBack="True">
                        <asp:ListItem>select</asp:ListItem>
                        <asp:ListItem></asp:ListItem>
                        
                    </asp:DropDownList>
                </td>
                <td>
                    <asp:DropDownList ID="DropDownList4" runat="server" >
                        <asp:ListItem>select</asp:ListItem>
                        <asp:ListItem></asp:ListItem>
                       
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td style="width: 245px">&nbsp;</td>
                <td style="width: 245px">&nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    <asp:Button ID="Button1" runat="server" Text="Display" OnClick="Button1_Click" />
                </td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4">
                    <asp:Panel ID="Panel1" runat="server" Visible="False" BackColor="pink" ForeColor="Purple">
                        <table style="width:100%;">
                            <tr>
                                <td style="width: 235px">Branch Name :</td>
                                <td>
                                    <asp:Label ID="Label1" runat="server"></asp:Label>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">Branch State&nbsp; :</td>
                                <td>
                                    <asp:Label ID="Label2" runat="server"></asp:Label>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">Branch City&nbsp;&nbsp; :</td>
                                <td>
                                    <asp:Label ID="Label3" runat="server"></asp:Label>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">Branch Address :</td>
                                <td>
                                    <asp:Label ID="Label4" runat="server"></asp:Label>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">Branch Phone Number :</td>
                                
                                <td>9090909090</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">Branch Timing :</td>
                                <td>Weekday : Monday to Friday, Timing<br /> Morning : 9.00 am - 12.00 pm<br /> Evening : 4.00 pm - 06.00 pm<br />
                                    <br />
                                    Weekday : Saturday &amp; Sunday, Timimg<br /> Morning : 9.00 am - 12.00 pm</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 235px">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </asp:Panel>
                </td>
            </tr>
            <tr>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 245px">
                    &nbsp;</td>
                <td style="width: 179px">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
   
</asp:Content>
