﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="customers.aspx.cs" Inherits="banktake2.customers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div style="height:100px;background-color:aquamarine;color:white">
        <h1>ANS bank</h1>
    </div>
        <div style="float:left;width:200px;height:600px;background-color:red;color:white">
            <h2><asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">DashBoard</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton2" runat="server" OnClick="LinkButton2_Click">Customers</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click">Account Request</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton4" runat="server" OnClick="LinkButton4_Click">NetBanking Request</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton5" runat="server" OnClick="LinkButton5_Click">Setting</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton6" runat="server">Logout</asp:LinkButton></h2>
            </div>
    </div>
          <div>
              
            <asp:Panel ID="Panel3" runat="server" Visible="True">   
                </asp:Panel> 
                </div>
            <asp:Panel ID="Panel1" runat="server">
            </asp:Panel>                          
               
       
    </form>
</body>
</html>
