﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="savings.aspx.cs" Inherits="banktake2.WebForm4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <h1>Savings Account</h1>
    LAGAO THEORY
    <h2>Women's Savings Account</h2>
    NISWA CHUTIYA HAI
    <a href="form.aspx">Apply Now</a>
    <h2>Kids Advantage Account</h2>
    shagun bhi
    <a href="form.aspx">Apply Now</a>
      <h2>Senior Citizen Account</h2>
    akanksha CHUTIYA HAI
    <a href="form.aspx">Apply Now</a>
    <h2>SavingsMax Accounts</h2>
    sb chutiya h
    <a href="form.aspx">Apply Now</a>
        <h2>Regular Savings Accounts</h2>
    sb chutiya h
    <a href="form.aspx">Apply Now</a>
    
</asp:Content>
