﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="setting.aspx.cs" Inherits="banktake2.setting" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div style="height:100px;background-color:aquamarine;color:white">
        <h1>ANS bank</h1>
    </div>
        <div style="float:left;width:200px;height:600px;background-color:black;color:white">
            <h2><asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" ForeColor="White">DashBoard</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton2" runat="server" OnClick="LinkButton2_Click" ForeColor="White">Customers</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click" ForeColor="White">Account Request</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton4" runat="server" OnClick="LinkButton4_Click" ForeColor="White">NetBanking Request</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton5" runat="server" OnClick="LinkButton5_Click" ForeColor="White">Setting</asp:LinkButton></h2>
             <h2><asp:LinkButton ID="LinkButton6" runat="server" ForeColor="White">Logout</asp:LinkButton></h2>
            </div>
    </div>
    </form>
</body>
</html>
